*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    background-color: #00265a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav button.navbar-toggler{
    border: 1px solid white;
}

header nav ul li{
    margin: 0 20px;
    /*color: white;*/
}

header nav img{
    width: 20%;
    height: 50px;
}

header li a.nav-link, header li a.nav-link.active{
    color: white!important;
    text-decoration: none;
}
/* header li a.nav-link.active{
    
} */

header li a.nav-link:hover{
    color: #a6c6e5!important;
    text-decoration: underline;
}

/* main{
    
} */

#jumbotron{
    background-image: url('./images/background.jpg');
    background-size: cover;
    height: 70vh;
    padding: 50px 0;
    text-align: center;
    position: relative;
}

#jumbotron div.blur{
    max-width: 100%;
    filter: brightness(70%);
}

#jumbotron div.row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section h2.ms_title{
    position: relative;
    top: 20px;
    font-style: italic;
    color: #0f2754;
}

#about.ms_groupList{
    background-color: #eff2f7;
}

#about .ms_societyCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .card img {
    max-width: 100%;
    height: 140px;
    object-fit: contain;
    /* object-position: top left; */
}

#about .card img.ms_imageCenter{
    object-position: center;
}

@media (min-width: 768px) {
    #about .card{
        height: 400px;
    }
}

#pianoSostenibilita .card{
    max-width: 540px;
    height: 90%;
    justify-content: center;
}

#pianoSostenibilita .card img.img-fluid{
    height: 200px;
    object-fit: contain;
}

#pianoSostenibilita .ms_activity{
    background-color: #8bc8db;
    border: 1px solid #2596be;
    padding: 5px 20px;
    margin-bottom: 10px;
}

#pianoSostenibilita .ms_activity p{
    margin: 0;
}

#pianoSostenibilita .ms_activity p.ms_text-size{
    font-size: 15px;
}

@media (max-width: 768px) {
    #pianoSostenibilita .card img.img-fluid{
        position: relative;
        top: 15px;
    }
}

section#downloadReport{
    height: 100vh;
    background-color: #eff2f7;
}



footer{
    background-color: #00265a;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}